*,*::after,*::before{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
$tenne-tawny:#d65108;
$tenne-tawny-dark:#b54507;

body{
    font-family:sans-serif;
    font-size: clamp(0.7rem,1.1rem,2rem);
    font-weight: 400;
    outline: 0;
}
blockquote,cite{
    opacity: 0.8;
}
.title{
    font-size:clamp(1.5rem,2.5rem,2.7rem) ;
    margin-bottom: 1rem;
}
// header{
//     width: 100%;
//     height: 10rem;    
//      section{
//          p
//          {
            
//              background-image: url(svg.png);
//          }

//      } 
// }

.container{
    min-height: 100vh;
    .meal-wrapper{
        max-width: 1200px;
        margin: 0 auto;
        padding: 2rem;
        background: #fff;
        text-align: center;
    }
    .meal-search{
        margin: 2rem 0;
    }

    .meal-search-box{
        margin: 2% auto;
        display: flex;
        align-items: stretch;
        justify-content: center;
        border: 1px solid $tenne-tawny;
        border-radius: 20px;
        width: 70%;
        .search-content{
            padding: 1rem;
            font-size: 1.3rem;
            outline: 0;
            border: none;
            color: $tenne-tawny;
            border-radius: 20px;
            width: 100%;

            &::placeholder{
                color: $tenne-tawny;
            }
        }

        .search-btn{
            width: 55px;
            height: 55px;
            font-size: clamp(1rem,1.8rem,2rem);
            background: $tenne-tawny;
            color: white;
            border: none;
            margin-top: 1px;
            cursor: pointer;
            // width: 100%;
            border-radius: 20px;

            &:hover{
                background-color: $tenne-tawny-dark;
            }
        }
    }

    .meal-result{
        margin: 2% 0;
        
        #meal{
            margin-top: 5%;
            
            .mealidcontainer{
                display: grid;
                grid-template-columns: repeat(2,1fr );
                gap: 1rem;

            
            .meal-img{
                img{
                    width: 80%;
                    height: 80%;
                border-radius: 20px;
                
                }

            }
            .dish{
                border-radius: 21px;
                background: #ffffff;
                box-shadow:  12px 12px 24px #b3b3b3,
                             -12px -12px 24px #ffffff;
                width: 90%;
                margin-bottom: 5rem;
            }
            .meal-name{
                // margin-top: -10%;
                margin-bottom: 5%;
                h3{
                    font-size: clamp(1.5rem,2.2vw,2.7rem);
                }
                .recipe-btn{
                    text-decoration: none;
                    color: white;
                    display: inline-block;
                    background-color: $tenne-tawny;
                    // width: 100px;
                    // height: 50px;
                    border-radius: 5px;
                    padding:1% 1.5%;
                    font-weight: 700;
                    font-size: clamp(1rem,2vw,1.5rem);
                    margin: 0.3% auto;
                    overflow: hidden;
                    position: relative;

                    // span{
                    //     position: relative;
                    //     z-index: 20;
                    // }

                    &::after{
                        content: "";
                        background-color: white;
                        display: inline-block;
                        position: absolute;
                        width: 5px;
                        // border-radius: 25px;
                        top: 0px;
                        left: 0px;
                        
                        height: 66px;
                        opacity: 0.2;
                        transition: all 0.2s ease-in-out;
                        // z-index: -10;
                        // transform: rotate(35deg);
                        transform: translateX(0);
                        transform-origin: 0;
                    }
                    &:hover{
                    
                        &::after{
                            width: 1050px;
                            transform: translateX(141px);
                            // transition: all 0.5s ease-in-out;
                        }

                    }


                    // &:hover{
                    //     z-index: 5;
                    //     color: white;
                    // }

                    // &:hover{
                    //     background-color: $tenne-tawny-dark;
                        
                    }
                }
            }
        }
    }
    
}   
#loading {
    width: 2rem;
    height: 2rem;
    border: 5px solid #f3f3f3;
    border-top: 6px solid #9c41f2;
    border-radius: 100%;
    margin: auto;
    visibility: hidden;
    animation: spin 1s infinite linear;
}
#loading.display {
    visibility: visible;
}
@keyframes spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

.meal-details{
    text-align: center;
    margin: 0 auto;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    color: white;
    background-color: $tenne-tawny;
    width: 75%;
    height: 90%;
    overflow-y: auto;
    border-radius: 10px;
    padding: 2%;
    scrollbar-color:black white;
    scrollbar-width: thin;
    display: none;

    &::-webkit-scrollbar{
        width: 10px;
        border-radius: 2rem;
    }
    &::-webkit-scrollbar-thumb{
        background:#f0f0f0;
        border-radius: 2rem;
    }
    .meal-details-content{
        margin:1rem 0 ;

        .recipe-title{
            letter-spacing: 2px;
            padding-bottom: 0.5rem;
        }
        .recipe-category{
            background-color: white;
            font-weight: 700;
            color: $tenne-tawny;
            display: inline-block;
            padding: 0.2rem 0.5rem;
            border-radius: 0.3rem;
        }
        .recipe-instruct{
            // margin-top: 1rem;
            padding:1rem 0;
            h3{
                margin-bottom:1rem ;
            }
        }
        .recipe-meal-img img{
            width:300px;
            height: 200px;
            border-radius: 10px;

        }
        .recipe-link {
            a{
            text-decoration:dashed;
            color: white;
            font-weight: 600;}
            margin-top: 1rem;
            display: inline-block;
            padding: 0.5rem;
            border: 2px dotted white;
        }
    }
    .btn-recipe-close-btn{
        position: absolute;
        right: 2rem;
        top:2rem;
        opacity: 0.7;
        cursor: pointer;
        background-color: $tenne-tawny;
        font-size: 1.4rem;
        border-radius: 50%;
        border: 1px solid white;
        transition: all 0.1s linear;
        width: 35px;
        height: 35px;
        display: flex;
        justify-content: center;
        align-items: center;

        &:hover{
            opacity: 1;
            background-color: white;
        }
    }
}

.showRecipe{
    transition: all 0.9s linear;
    display: block;
}


@media screen and (max-width:600px) {
    .container .meal-result #meal .mealidcontainer{
        display: grid;
        grid-template-columns: repeat(1,1fr);
    }
    .meal-details .btn-recipe-close-btn{
        position: absolute;
        width: 25px;
        height: 25px;
        font-size: 0.7rem;right: 0.5rem;
    }
}

@media screen and (min-width:900px){
    .container .meal-result #meal .mealidcontainer{
        display: grid;
        grid-template-columns: repeat(3,1fr);
    }
    .meal-details{
        width: 35%;
    }
}
@media screen and (min-width:600px){
    .meal-details{
        width: 55%;
    }
    .meal-details-content{
        margin:0.5rem 0 ;
    }
    .meal-details .btn-recipe-close-btn{
        position: absolute;
        width: 25px;
        height: 25px;
        font-size: 0.7rem;right: 1rem;
    }
}

.notfind{
    // margin: 0 auto;
    display: grid;
    grid-template-columns: 50%!important;
    justify-content: center;

    // transform: translateX(20%);
    font-size: 2rem;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    opacity: 0.6;
    // width: 50rem;
    // display: inline-block;
}